Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a = "ravi"
type(a)

str

In [2]:
b = ['ravi', 1,2,3, 2.00,]
type(b)

list

In [5]:
c = 2.34
type(c)

float

In [6]:
d = ("mohit", "jaat", 11, )
type(d)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = ''
type(var1)

str

In [9]:
var2 = '[ DS, ML, Python]'
type(var2)

str

In [8]:
var3 = ['DS', 'ML', 'Python']
type(var3)

list

In [10]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [11]:
a = 42
b = 6
c = a / b
print(c)

7.0

In [16]:
a = 44
b = 6
c = a % b
print(c)

2

In [13]:
a = 42
b = 6
c = a // b
print(c)

7

In [17]:
a = 2
b = 6
c = a ** b
print(c)

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [20]:
l = [1, 2, 3, 'ravi', 2.00, ]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
ravi
<class 'str'>
2.0
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [1]:
a = 20
b = 5
c = a % b
while c == 0:
    print(a, "is divisible by ", b)
    break

20 is divisible by  5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [29]:
l = list(range(25))
print(l)
for i in l:
    c = i %3
    d = i/3
    if c == 0:
        d = int(d)
        print(i,"is divisible by 3, ", d,"times")
    else: 
            print(i, "is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3,  0 times
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3,  1 times
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3,  2 times
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3,  3 times
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3,  4 times
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3,  5 times
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3,  6 times
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3,  7 times
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3,  8 times

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [10]:
##mutable is a type of data that can be modified
l = [1, 2, "fool", 2.00]
print(l)
l[2] = "baliyan"
print(l)

[1, 2, 'fool', 2.0]
[1, 2, 'baliyan', 2.0]

In [12]:
##Unmutable is a type of data that can't be modified
j = "baliyan"
j[3] = "k"
print(j)

TypeError: 'str' object does not support item assignment

In [14]:
l = (1, 2, "fool", 2.00)
l[2] = "baliyan"
print(l)

TypeError: 'tuple' object does not support item assignment